h1 {
  color: white;
  font-family: verdana;
  font-size: 400%;
  text-align: center;
}

myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 32px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

html {
  min-height:100%;
  background:linear-gradient(0deg,rgba(1,0,38,0.67),rgba(1,0,38,0.67)),url('background.jpg');
  background-size:cover;
}

.filterTable{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 0px;
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #ddd;
  color: #010026;
  border-color: #4D0488;
}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFB81D;
  color: #010026;
}

.inputField {
    width: 100%;
	height: 30px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #cecece;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  color: black;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Add a light grey background on mouse-over */
.btn:hover{
  background-color: white;
}

/* Add a dark background to the active button */
.btn.active, .btn:active{
    background: #FFB81D;
    text-decoration: none;
}

.helpButton {
  background-color: Transparent;
  color: #FFB81D;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 50px;
  padding: 0px 0px;
  border: 4px solid #FFB81D;
}

.helpButton:hover{
  color: white;
  border-color: white;
}

.help{
  text-align: right;
}